In [20]:
from pandas_datareader import data
import fix_yahoo_finance as yf
import datetime
from bokeh.plotting import figure, show, output_file

# Data from 1st to 10th of March 2016
start = datetime.datetime(2016, 3, 2)
end = datetime.datetime(2016, 3, 11)

# Example for Google here: https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#google-finance
yf.pdr_override()
df = data.get_data_yahoo(tickers="GOOG", start=start, end=end)


def price_status_description(close_price, open_price):
    if close_price > open_price:
        return "Increase"
    
    if close_price < open_price:
        return "Decrease"

    return "Equal"

df["Status"] = [price_status_description(close_price, open_price) for close_price, open_price in zip(df.Close, df.Open)]
df["Height"] = abs(df.Open - df.Close) 
df["Middle"] = (df.Open + df.Close) / 2
df

[*********************100%***********************]  1 of 1 downloaded

,Open,High,Low,Close,Adj Close,Volume,Status,Height,Middle
Date,,,,,,,,,
2016-03-01,703.619995,718.809998,699.770020,718.809998,718.809998,2151400,Increase,15.190003,711.214997
2016-03-02,719.000000,720.000000,712.000000,718.849976,718.849976,1629000,Decrease,0.150024,718.924988
2016-03-03,718.679993,719.450012,706.020020,712.419983,712.419983,1956800,Decrease,6.260010,715.549988
2016-03-04,714.989990,716.489990,706.020020,710.890015,710.890015,1972100,Decrease,4.099975,712.940002
2016-03-07,706.900024,708.091003,686.900024,695.159973,695.159973,2985100,Decrease,11.740051,701.029999
2016-03-08,688.590027,703.789978,685.340027,693.969971,693.969971,2076300,Increase,5.379944,691.279999
2016-03-09,698.469971,705.679993,694.000000,705.239990,705.239990,1421500,Increase,6.770019,701.854981
2016-03-10,708.119995,716.440002,703.359985,712.820007,712.820007,2829400,Increase,4.700012,710.470001

In [21]:

# Draw the figure
f = figure(x_axis_type='datetime', width=1000, height=300)

# Draw rectangle
f.rect(
    df.index[df.Status == "Increase"], # Get registries were Close > Open for x axis
    df.Middle[df.Status == "Increase"], # Gent central axis of rectangles
    12 * 60 * 60 * 1000, # x axis difference,
    df.Height[df.Status == "Increase"], # Difference hight between top and bottom of rectangle.
    fill_color="green",
    line_color="black"
)

# Draw rectangle reversed
f.rect(
    df.index[df.Status == "Decrease"], # Get registries were Close < Open for x axis,
    df.Middle[df.Status == "Decrease"], # Gent central axis of rectangles
    12 * 60 * 60 * 1000, # x axis difference
    df.Height[df.Status == "Decrease"], # Difference hight between top and bottom of rectangle.
    fill_color="red",
    line_color="black"
)

output_file("stock_analysis.html")

show(f)